.nav-item:hover
{
    background-color: #F1F6F9;
}

.nav-link:hover{
    color:#212A3E
}
.kapsayici{
    background-color: #212A3E;
}
body{
    background-color: #394867;
}
.footer {
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	color: #9BA4B5;
}
.bosluk2
{
    height: 400px;
}
.bosluk
{
    height: 100px;
}
table{
    text-align:left;
}
label{
    font-size: 30px;
}
th{
    text-align: right;
    color:#F1F6F9;
}
#a{
    color:#F1F6F9;
}
#b{
    text-align: center;
}
p{
    font-size: 30px;
    color:#F1F6F9;
}
.bosluk3{
    height:375px;
}